body {
    max-width: 80%;
    font-family: "Lucida Grande", sans-serif;
    margin: 0 auto;
    background: url("../Pics/background.jpg") no-repeat center center fixed; 
    -moz-background-size: cover;
    background-size: cover;
}

nav
{    
    padding-top:1%;
	text-transform: uppercase;
	text-align:center;
}

	nav > ul
	{
		list-style-type: none;
	}

		nav > ul > li
		{
			display:inline-block;

		}

			nav > ul > li > a
			{
				text-decoration: none;
				color:#000;

                padding:5px 20px;
                border-top: 2px solid #000;
			}

				nav > ul > li > a:hover
				{
					border-top: 4px solid #000;			
				}

footer
{
	font-size: x-small;
	text-align: center;
    width: 99%;
	margin-top: 1%;
    color:#888;
}